.chat-home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.chat-container {
    width: 70%;
    height: 80%; 
    display: flex;
    overflow: hidden;
}

.chat-sidebar {
    flex: .75;
    border: 5px solid black;
    overflow: hidden;
    border-radius: 30px 30px 30px 30px;
    margin-right: 50px;
}

.chat-main {
    flex: 2;
    overflow: hidden;
    border: 5px solid black;
    border-radius: 30px 30px 30px 30px;
}

.chat-userChat {
    padding: 10px;
    cursor: pointer;
}

.chat-userChat:hover {
    background-color: #d3d3d3 ;
}

.chat-span {
    font-size: 20px;
}

.chat-p {
    font-size: 12px
}

.chat-recent {
    height: 80px;
    padding: 25px;
    background-color: #d3d3d3;
}

.chat-info {
    height: 80px;
    padding: 25px;
    background-color: #d3d3d3;
}

.chat-messages {
    height: 560px;
    overflow: scroll;
    padding: 10px;
}


.chat-input {
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#chat-img {
    display: none;
}

.chat-input-form {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.chat-submit {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat-message-container { 
    display: flex;

}

.chat-message-owner {
    flex-direction: row-reverse;
}

.chat-message-div-owner {
    display: flex;
    align-items: flex-end;
}

.chat-message-text {
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 20px;
    max-width: max-content;
}

.chat-message-text-owner {
    flex-direction: row-reverse;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 20px;
    max-width: max-content;

}

.chat-img-message-owner {
    display: flex;
    align-items: flex-end;
}

.chat-img-message {
    display: flex;
    align-items: flex-start;
}

.chat-img {
    padding-bottom: 10px;
}



