.padding{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.pill-form{
    /* margin-top: 1.5em;
    margin-bottom: 5em; */
    padding: 0.5em;
    width: 75%;
    margin: auto;
    border-radius: 50px !important;
    background-image: linear-gradient(to right, rgb(132, 173, 151), rgb(170, 154, 103));
    color: white;
}

.search-form{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    width: 60%;
    margin: auto;
    margin-top: -20px;
}

.search-input{
    outline: rgb(85, 85, 85) solid 2px;
    border-radius: 50px !important;
    background-image: linear-gradient(to right, white, gray);
}

.search-btn{
    background-color: rgb(85, 85, 85);
    color: white;
    border: 2px solid rgb(85, 85, 85);
    width: 20%;
    margin:auto;
    margin-left: -185px;
    
}

.search-btn:hover{
    background:rgb(199, 199, 199);
}

.col-spacing{
    padding-bottom: 1em;
}

.question-1{
    text-align: left;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1em;
    width:75%;
    margin:auto;
}

.question-brown{
    color: burlywood;
}

.question-2{
    text-align: right;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 1em;
    width:75%;
    margin:auto;
}

.listings-cont{
    background-image:linear-gradient(rgb(132, 173, 151), white);
    padding-top: 1.5em;
    border-radius: 6px;
}

.listings-title{
    text-align: left;
    background-image: linear-gradient(to right, white, rgb(132, 173, 151));
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    
}
