.row-style{
    background-image: linear-gradient(rgb(132, 173, 151), rgb(170, 154, 103));
    margin:auto;
    border-radius: 50px !important;

}

.col-style{
    padding: 1em;
    width:50%;
    margin:auto;
}