/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

/*padding hq*/
.padding{
    padding: 60px;
    padding-top: 80px;
}

.col{
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}

.carpooldetails-background{
    background-image: url('../assets/carpoolbackground1.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.carpooldetails-buttonpadding{
    padding: 3px;
    padding-bottom: 10px;
}

/*asset detailing*/
.carpooldetails-details{
    padding: 40px;
    margin-top: -10px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(149, 185, 178, 0.509) 0%, rgba(233, 221, 192, 0.627) 100%);
    width: fit-content;
    height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    padding-top: 30px;
    backdrop-filter: blur(3px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carpooldetails-name{
    font-family: "Montserrat-BoldItalic";
    font-size: xx-large;
    color: #2D564E;
}

.carpooldetails-subdetails{
    font-family: "Montserrat-Italic";
    font-size: 18px;
}

.carpooldetails-dmbutton{
    min-width: fit-content;
    min-height: fit-content;
    width: 250px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
    font-family: "Montserrat-Italic";
    border: 3px solid #2f756752;
    background-color: rgba(255, 255, 255, 0.805);
    color: #2D564E;
    transition: 0.3s ease-in-out;
}

.carpooldetails-dmbutton:hover{
    background-color: #2D564E;
    color: white;
    transition: 0.3s ease-in-out;
}


