/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}



/*default conditioning for the entire container as a whole*/
.container-mainchat{
    top: 40px;
    font-family: "Montserrat-Italic";
    padding-top: 90px;
    position: relative;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    color: #2D564E;

}
.mainchat-title{
    font-family: "Montserrat-BoldItalic";
    color: #2D564E;
}
.usersegment-mainchat{
    padding-top: 15px;
}
.mainchat-userbutton{
    border-radius: 20px;
    border: transparent;
    width: 200px;
    height: 40px;
}
