/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

.chat-background{
    background-image: url('../assets/background4.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

/*chat main portions*/
.chat-home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat-Italic";
}

.chat-container {
    border: 35px ;
    border-radius: 30px;
    width: 70%;
    height: 85%; 
    display: flex;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(246, 230, 196, 0.19) 0%, rgba(129, 170, 150, 0.14) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.chat-sidebar {
    background: linear-gradient(321.31deg, rgb(255, 255, 255) -36.64%, rgba(255, 255, 255, 0) 40.67%);
    width: 22%;
}

.chat-main {
    flex: 2;
    overflow: hidden;
    background: linear-gradient(321.31deg, rgb(255, 255, 255) -36.64%, rgba(255, 255, 255, 0) 40.67%);

}

.chat-userChat {
    padding: 10px;
    cursor: pointer;
}

.chat-userChat:hover {
    background-color: #d3d3d3 ;
    transition: 0.2s;
}

.chat-span {
    font-size: 20px;
}

.chat-p {
    font-size: 12px;
}

.chat-recent {
    height: 80px;
    padding: 25px;
    background-color: linear-gradient(107.88deg, rgba(149, 185, 178, 0.9) 10.51%);
    opacity: 85%;
    font-family: "Montserrat-BoldItalic";
    color: #2D564E;
    font-size:25px;
    padding-top: 25px;
}

.chat-info {
    height: 80px;
    padding: 25px;
    background-color: linear-gradient(107.88deg, rgba(149, 185, 178, 0.9) 10.51%, rgba(233, 221, 192, 0.9) 89.11%);
    opacity: 85%;
    font-family: "Montserrat-BoldItalic";
    color: #2D564E;
    font-size:25px;
    padding-top: 22px;
}

.chat-messages {
    height: 560px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    
}

#chat-img {
    display: none;
}



.chat-submit {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat-message-container { 
    display: flex;

}

.chat-message-owner {
    flex-direction: row-reverse;
}

.chat-message-div-owner {
    display: flex;
    align-items: flex-end;
}

.chat-message-text {
    flex-direction: column;
    border: transparent;
    border-radius: 5px 20px 20px 20px;
    padding: 10px 20px;
    max-width: max-content;
    background-color: rgba(255, 255, 255, 0.82);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.089));
}

.chat-message-text-owner {
    flex-direction: row-reverse;
    border-radius: 20px 5px 20px 20px;
    padding: 10px 20px;
    max-width: max-content;   
    background-color: rgba(255, 255, 255, 0.82);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.089));
}

.chat-img-message-owner {
    display: flex;
    align-items: flex-end;
}

.chat-img-message {
    display: flex;
    align-items: flex-start;
}

.chat-img {
    padding-bottom: 10px;
}

/*chat form and buttons*/
.chat-input {
    height: fit-content;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat-input-form {
    width: 100%;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.82) !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.089));
    transition: 0.5s;
}


.chat-submit{
    padding-right: 25px;
}

.chat-send{
    width: 50px;
    height:50px;
    background-color: transparent;
    border-radius: 30px;
    transition: 0.3s;
    border: transparent;
}

.chat-send:hover{
    background-color: rgba(0, 0, 0, 0.126);
}