/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

/*padding hq*/
.editlisting-querycard{
    background: linear-gradient(180deg, rgba(149, 185, 178, 0.371) 0%, rgba(241, 234, 213, 0.181) 100%);
    border-radius: 30px;
    min-width: fit-content;
    min-height: fit-content;
    width: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    padding: 40px;
}

.editlisting-background{
    background-image: url('../assets/listing-background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: "Montserrat-Italic";
}

/*asset design*/
.editlisting-jpeg{
    min-height: fit-content;
    min-width: fit-content;
    max-width: 300px;
    max-height: 400px;
    border-radius: 30px;
    border: 20px solid rgba(255, 255, 255, 0.788);
    margin: 60px;
}

.editlisting-jpegbutton{
    padding-top: 10px;
    padding-left: 40px;
    min-width: fit-content;
    min-height: fit-content;
    border: transparent;
}

.editlisting-itemtitle{
    width: 200px;
}

.editlisting-description{
    width: 600px;
    padding: 20px;
    transition: 0.2s ease-in;
}

.editlisting-description:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in;
}

.editlisting-itemprice{
    padding: 5px;
    padding-left: 10px;
}

.editlisting-itemprice:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in;
}

.tag-item:hover{
    opacity: 50%;
}

.editlisting-buttons{
    border-radius: 20px;
    border: 2px solid #E1D6B9;
    padding: 5px;
    width: 140px;
    min-width: fit-content;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.731);
    transition: 0.2s ease-out;
}

.editlisting-buttons:hover{
    min-width: fit-content;
    min-height: fit-content;
    padding: 10px;
    border: transparent;
    background: #2D564E;
    color: white;
    transition: 0.2s ease-out;
}

.editlisting-delete{
    font-family: "Montserrat-Italic";
    color:#b52a22;
    background-color: rgba(255, 255, 255, 0.562);
    width: fit-content;
    height: fit-content;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: transparent;
}

.editlisting-delete:hover{
    transition: 0.2s;
    background-color: #b52a22;
    color: white;
}