/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

.following-background{
    background-image: url(../assets/following-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.following-title{
    font-family: "Montserrat-BoldItalic";
    font-size: 40px;
}

.following-items{
    background: linear-gradient(180deg, rgba(149, 185, 178, 0.9) 0%, rgba(229, 202, 133, 0.159) 103.15%);
    padding-bottom: 10px;
    border-radius: 10px;
    padding-right: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.row{
    padding-left: 20px;
}

.following-spacer{
    height: 50px;
}