.bg-green {
    background-color: rgb(132, 173, 151);
}

.bg-darkgreen {
    background-color: rgb(100, 143, 120);
}

.bg-gray{
    background-color: gray;
}

.bg-darkgray{
    background-color: rgb(78, 78, 78);
}
p.footer{
    color: white;
    font-size: 15px;
}