/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

.ForgotPassword{
    background-image: url('../assets/background-label.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-top: 3%;
    padding-bottom: 20%;
    padding-left: 10%;
}

.c1{
    background: linear-gradient(180deg, rgba(45, 86, 78, 0.48) 0%, #F2ECDB 100%);    
    border-radius: 125px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    width: 90%;
}

h2{
    font-family: "Montserrat-BoldItalic";
    color: #2D564E;
    padding-bottom: 3px;
}

h4{
    font-family: "Montserrat-Italic";
    padding-bottom: 10px;
}

input.inputemail{
    padding-right: 10%;
    width: 85%;
}

.spacer1{
    padding-bottom: 20px;
}

button.buttonsubmit{
    border: transparent;
    background-color: transparent;
    font-size: 120%;
    font-family: "Montserrat-BoldItalic";
    color:#2D564E;
}

.buttonsubmit:hover{
    opacity: 40%;
}