/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

/*padding hq*/
.listingdetails-background{
    background-image: url('../assets/listing-background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 30px;
}

.listingdetails-querycard{
    background: linear-gradient(180deg, rgba(149, 185, 178, 0.371) 0%, rgba(241, 234, 213, 0.181) 100%);
    border-radius: 60px;
    min-width: fit-content;
    min-height: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    padding: 40px;
    font-family: "Montserrat-Italic";
}

.listingdetails-padding1{
    padding: 10px;
}

.listingdetails-padding2{
    align-items: center;
    margin: auto;

}

/*asset design*/
.listingdetails-jpeg{
    min-height: fit-content;
    min-width: fit-content;
    max-width: 300px;
    max-height: 400px;
    border-radius: 30px;
    border: 20px solid rgba(255, 255, 255, 0.788);
    margin: auto;
    align-items: center;
}

.listingdetails-comparebtn{
    color: #287485;
}

.listingdetails-comparebtn:hover{
    font-family: "Montserrat-BoldItalic";
}

.listingdetails-userlink{
    color: #287485;
}

.listingdetails-userlink:hover{
    font-family: "Montserrat-BoldItalic";
}

.listingdetails-buttons{
    border-radius: 20px;
    border: 2px solid #E1D6B9;
    padding: 5px;
    width: 140px;
    min-width: fit-content;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.731);
    transition: 0.2s ease-out;
}

.listingdetails-buttons:hover{
    min-width: fit-content;
    min-height: fit-content;
    padding: 10px;
    border: transparent;
    background: #2D564E;
    color: white;
    transition: 0.2s ease-out;
}