/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.ttf") format("truetype");
}

/*this container holds all communication and text for user to request school*/
div.mainrequest{
    font-family: "Montserrat-Italic";
    margin: auto;
    background: linear-gradient(180deg, rgba(45, 86, 78, 0.48) 0%, #F2ECDB 100%);
    padding: 50px;
    position: relative;
    width: 1000px;
    border-radius: 150px;
    color: white;
}
a.customerservice{
    font-family: "Montserrat-Italic";
}
