/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

.main-container-req{
    padding-top: 60px;
    padding-bottom: 17%;
    background-image: url('../assets/background-label.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    background-size: contain;
}


/*this container holds all communication and text for user to request school*/
div.mainrequest{
    font-family: "Montserrat-Italic";
    background: linear-gradient(180deg, rgba(45, 86, 78, 0.48) 0%, #F2ECDB 100%);    padding: 50px;
    width: 1000px;
    margin: auto;
    border-radius: 150px;
    color: white;
}
a.customerservice{
    font-family: "Montserrat-Italic";
}

h1.request-title{
    font-family: "Montserrat-BoldItalic";
}
/*button decor*/
button.copybutton{
    padding: 10px;
    font-family: "Montserrat-Italic";
    color: #2D564E;
    border: transparent;
    border-radius: 20px;
    transition: 0.2s;
}

/*text editing*/
h2.request{
    font-family: "Montserrat-Italic";
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}