/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

/*padding hq*/
.servicerequest-padding1{
    padding-top: 70px;
    padding-bottom: 140px;
    background-image: url('../assets/services-background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.servicerequest-padding2{
    padding: 20px;
}

/*asset decor*/
.servicerequest-form{
    padding: 40px;
    padding-bottom: 60px;
    background: linear-gradient(180deg, rgba(149, 185, 178, 0.509) 0%, rgba(233, 221, 192, 0.627) 100%);
    min-width: fit-content;
    min-height: fit-content;
    width: 1000px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
}

.servicerequest-title{
    color: #2D564E;
    font-family: "Montserrat-BoldItalic";
    font-size: 30px;
}

.servicerequest-name{
    padding: 20px;
}

.servicerequest-text{
    min-width: fit-content;
    min-height: fit-content;
    width: 700px;
    height: 100px;
    padding: 20px;
    transition: 0.2s ease-in;
}

.servicerequest-text:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in;
}

.servicerequest-button1, .servicerequest-button2{
    min-width: fit-content;
    min-height: fit-content;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    border: 2px solid #6e9f9697;
    background: transparent;
    color: #2D564E;
    transition: 0.2s ease-in;
}

.servicerequest-button2{
    min-width: fit-content;
    min-height: fit-content;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    border: 2px solid #6e9f9697;
    background: transparent;
    color: #2D564E;
    transition: 0.2s ease-in;
}

.servicerequest-button1:hover{
    background-color: #2D564E;
    color: white;
    border: transparent;
    transition: 0.2s ease-in;
}

.servicerequest-button2:hover{
    border: transparent;
    font-family: "Montserrat-BoldItalic";
    transition: 0.2s ease-in;
}