/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

/*padding hq*/
.servicedetail-padding1{
    padding-top: 140px;
    padding-bottom: 150px;
    background-image: url('../assets/services-background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

/*asset detailing*/
.servicedetail{
    min-width: fit-content;
    margin: auto;
    justify-content: space-between; /* Distribute items evenly with space between them */
    align-items: center; /* Center items vertically within the container */
    background: linear-gradient(180deg, rgba(246, 230, 196, 0.19) 0%, rgba(129, 170, 150, 0.14) 100%);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    min-height: fit-content;
    width: 700px;
    margin-left: 10%;
    margin-right: 10%;
}

.servicedetail-buttons{
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 30px;
    border: 2px solid #395b55c4;
    background: rgba(255, 255, 255, 0.774);
    color: #2D564E;
    transition: 0.2s ease-in;  
}

.servicedetail-buttons:hover{
    min-width: fit-content;
    min-height: fit-content;
    background-color: #2D564E;
    color: white;
    border: transparent;
    transition: 0.2s ease-in;
    padding-top: 10px;
    padding-bottom: 10px;
}