/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

.signout-1{
    padding-top: 15%;
    padding-bottom: 20%;
}

.signout-border{
    padding-top: 10px;
}

.signout{
    border-radius: 20px;
    border: 2px solid #2D564E;
    padding: 5px;
    width: 140px;
    min-width: fit-content;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.731);
    transition: 0.2s ease-out;
}

.signout:hover{
    min-width: fit-content;
    min-height: fit-content;
    padding: 5px;
    border: transparent;
    background: #2D564E;
    color: white;
    transition: 0.2s ease-out;
}