/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

.main-container{
    padding-top: 60px;
    padding-bottom: 11%;
    background-image: url('../assets/background-label.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    background-size: contain;
}

/*main container*/
.SignUp{
    background: linear-gradient(180deg, rgba(45, 86, 78, 0.48) 0%, #F2ECDB 100%);    border-radius: 125px;
    height: 750px;
    width: 1000px;
    padding: 50px;
    margin: auto;
    font-family: "Montserrat-Italic";
}

/*form container padding*/
.signup-userinput{
    padding-left: 100px;
}

/*text description edits*/
p.desc{
    padding-top: 10px;
}
p.warning{
    font-size: 15px;
    padding-bottom: 20px;
}
h3{
    padding-bottom: 2%;
}

/*userinput box edits*/
input[type=password], input[type=email], input[type=text], select[type=school] {
    margin: auto;
    border-radius: 30px;
    width: 700px;
    border-color: transparent;
    height: 50px;
    padding-left: 10%;
}
::placeholder{
    color: lightgrey;
    font-size: 20px;
    bottom: 3px;
}

/*button edit*/
.signupbutton{
    background-color: transparent;
    font-family: "Montserrat-BoldItalic";
    font-size: 20px;
    padding-right: 120px;
    border-color: transparent;
    color: #2D564E;
    width: auto
}
.signupbutton:hover{
    opacity: 40%;
}
