/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.ttf") format("truetype");
}

/*the main container that holds all of the information of the page
  standardizes */
div.mainsquare{
    background: linear-gradient(180deg, #96B8B1 0%, rgba(217, 217, 217, 0) 100%);
    border-radius: 125px;
    height: 800px;
    width: 1000px;
    padding: 10px;
    position: relative;
    top: 40px; 
    margin: auto;
}

/*the back container that provides decorative support on the main container
  yellow square behind*/
div.backsquare{
    background: linear-gradient(180deg, #F5EACC 0%, rgba(217, 217, 217, 0) 100%);    
    border-radius: 125px;
    height: 800px;
    width: 1000px;
    padding: 10px;
    position: relative;
    top:-700px;
    left:-50px;
    z-index: -1;
    margin: auto;
}

/*white out the content of which user focuses on 
  (the history of their interactions and orders)*/
div.content{
    background: white;
    border-radius: 61px;
    margin: auto;
    height: 650px;
    width: 850px;
    position: relative;
    top: 10px;
}
h1.title{
    color: white;
    font-family: "Montserrat-Italic";
    font-size: 40px;
    position: relative;
    top: 10px;
}

/*individual links to unique history based on user content*/
button.support{
    padding: 20px;
    border: transparent;
    background-color: transparent;
    font-family: "Montserrat-Italic";
    position: relative;
    top: 10px;
}
a.support{
    color: #287485;
}
li.order{
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    top: 20px;
    list-style-type: none;
    border: 2px solid #9D9D9D;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
}
