/*questions? ask dev nicole nguyen*/

/*import font family and standardize the name from font folder*/
@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.ttf") format("truetype");
}
.background-border{
    background-color: white;
    margin-top:40px;
    margin-bottom: 40px;
    width: 75%;
}
.padding1{
    box-sizing: border-box;
    top: 40px;
    font-family: "Montserrat-Italic";
    padding-top: 40px;
    padding-bottom: 40px;
    width: 40%;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    color: #2D564E;   
}

button{
    border: grey;
    width: 25%;
    
}
button:hover{
    filter: brightness(90%);
}
.delete-button{
    margin-left: 10px;
}

li{
    padding-top: 10px;
}

.display-list{
    padding-top: 20px;
}

